*{
  margin: 0;
  padding: 0;
}

h3, p{
  text-align: center;
}

i{
  margin: 0.25rem;
}
hr{
  border: 0;
background: rgba(60,179,254, 0.2);
height : 10px;
}
.main{
  max-width: 850px;
  margin: 0 auto;
  padding-top: 1rem;
}

.header{
  font-size: 35px;
  color: #3CB3FE;
}

.input-add{
  display: inline-block;
  width: 85%;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 17px;
  border: 1px solid #BDC4CC;
}

.plus-btn{
  margin-left: 4%;
  padding: 0.25rem 0.5rem;
  font-size: 24px;
  color: #fff;
  background: rgba(170, 178, 178, 0.9);
  border: none;
  cursor: pointer;
  outline: none;
}

.plus-btn:disabled {
  opacity: 0.7;
}



.ulist{
  list-style: none;
  padding-left: 0;
}

li{
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #3CB3FE;
}

li:first-child{
  margin-top: 0.5rem;
}

input[type = checkbox]{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.labelChek{
  display: block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  font-size: 22px;

}
.checkbox_styl{
  height: 25px;
  width: 25px;
  border: 1px solid rgba(170, 178, 178, 0.9);
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkbox_styl:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.labelChek input:checked ~ .checkbox_styl:after {
  display: block;
}
/* Style the checkmark/indicator */
.labelChek  .checkbox_styl:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 10px;
  border: solid rgba(170, 178, 178, 0.9);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
li input[type = text]{
  padding: 0.25rem;
}

.delete{
  margin-left: auto;;
}

.btn-i{
  cursor: pointer;
  color: #3CB3FE;
}

.btn-i:hover{
  opacity: 0.5;
}

.notdisplay{
  display: none;
}

.display{
  display: block;
}

[draggable] {
  user-select: none;
}