*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3, p{
  text-align: center;
}
.add_icons{
  padding: 0.2rem;
}
.btn_icon{
  margin-left: 1rem;
}

hr{
  border: 0;
background: rgba(60,179,254, 0.2);
height : 10px;
margin: 1rem 0;
}
.main{
  max-width: 850px;
  padding-top: 2rem;
  margin: 0 auto;
}
.header{
  font-size: 30px;
  color: #3CB3FE;
}
.text_add{
  display: inline-block;
  width: 85%;
  border: 1px solid #BDC4CC;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 17px;
}

.btn_add{
  margin-left: 4%;
  color: #fff;
  padding: 0.2rem 0.2rem;
  font-size: 20px;
  color: #fff;
  background: rgba(170, 178, 178, 0.9);
  border: none;
  cursor: pointer;
}

.list_ul{
  list-style: none;
   padding-left: 0;
}

li{
  color: #3CB3FE;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top:  10px;
}


input[type = checkbox]{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.hide{
  display: none;
}
.labelChek{
  display: block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  font-size: 22px;

}
.checkbox_styl{
  display: inline-block;
  height: 25px;
  width: 25px;
  border: 1px solid rgba(170, 178, 178, 0.9);
  background: white
}
.checkbox_styl:after {
  content: "";
  position: absolute;
  display: none;
}
.labelChek input:checked ~ .checkbox_styl:after {
  display: block;
}
.labelChek .checkbox_styl:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 10px;
  border: solid rgba(170, 178, 178, 0.9);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
li input[type = text]{
  padding: 0.25rem;
}

.delete{
  margin-left: auto;
}

.btn_icon{
  cursor: pointer;
  color: #3CB3FE;
}

