$back_color_card: (day: #21232E, night: #3B3F50);
$bColorP: map-get($back_color_card, night);

$baColor:#21232E;
$bgI:url('../img/m-h-night.jpg');
$tColor :white;
$behColor :#FF4E33;
$butColorB: #E3AC00;
$text:'Fresca', sans-serif;