
$back_color_card: (day: #21232E, night: #3B3F50);
$bColorP: map-get($back_color_card, day);

$baColor:#ffffff;
$bgI:url('../img/m-h-day.jpg');
$tColor :black;
$behColor :#14A0C7;
$butColorB: #699900;
$text:'Hind', sans-serif;